#box {
    display: flex;
    margin: 10px;
    justify-content: center;
}
  
.profile:hover{
    box-shadow: 0 0 5px 10px rgb(146, 160, 232);
}
.profile {
    display: flex;
    justify-content: center;
    width: 195px;
    height: 195px;
    margin: 20%;
    margin: 2px;
    box-shadow: 0 0 0 0px rgb(255, 255, 255);
    border-radius: 100px;
    animation: testAnim 1s forwards;
    margin: 20px;
    cursor: url("assets/cursor_point.png"), pointer;
    transition: box-shadow 0.5s ease, border-color 0.5s ease
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    width: fit-content;
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 30px;
    z-index: 1000;
    text-align: center;
    font-size: 30px;
}

.appear {
    animation: go 0.3s ease forwards;
}

@keyframes go {
    to {transform: translate(-50%, -50%) scale(1);}
}


.hidden {
    display: none;
}

.close {
    background-color: lightblue;
    color: white;
    border-radius: 20px;
    border-width: 0px;
    font-size: 20px;
    cursor: url("assets/cursor_point.png"), pointer;
    transition: background-color 0.5s ease;
}

.close:hover {
    background-color: blue;
}

@media screen and (max-width: 500px){

    #box {
        flex-direction: column;
        justify-content: center;
    }

}

