#submit {
    padding: 10px;
    margin: 7px;
    font-size: 20px;
    border: 3px inset darkslategray;
    border-radius: 20px;
    background-color: aqua;
    cursor: url("assets/cursor_point.png"), pointer;

}

#submit:hover {
    background-color: rgb(52, 130, 130);
}

#kerdo {
    background-color: white;
    box-shadow: 0px 2px 3px black;
    border-radius: 10px;
    padding: 50px;
}

.submit_button {
    display: flex;
    justify-content: center;
}

#kiertekeles {
    border: 1px solid black;
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
    overflow: hidden;
}

.kerdes {
    padding: 10px;
    margin: 5px;
    padding-top: 5px;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    border: 3px inset rgb(187, 187, 187);
}

h3 {
    margin: 0px;
}

input, label{
    cursor: url("assets/cursor_point.png"), pointer;
}

.error {
    background-color: rgb(243, 119, 119);
    border-color: rgb(201, 47, 47);
}

.kepcske {
    float: right;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 3px 4px black;
    width: 30%;
}

@media screen and (max-width: 500px){
    #kerdo {
        background-color: white;
        box-shadow: 0px 2px 3px black;
        border-radius: 10px;
        padding: 5px;
    }
    .kepcske {
        width: 60%;
    }
}